# Lingkungan Virtual & Modul Python
venv/
__pycache__/
*.py[cod]
*$py.class

# Database Lokal (Wajib Diabaikan)
db.sqlite3
*.sqlite3

# File Rahasia & Environment (Sangat Penting)
.env
.env.local

# Folder Statis & Model ML Produksi
staticfiles/
temp_*.pkl

# Mencegah file Dataset/CSV besar masuk ke GitHub (Penyebab Error)
*.csv
data/
local_data/
website/backend/data/

# Modul Frontend (Hanya memblokir modul berat Next.js, Kodenya tetap dikirim)
node_modules/
.next/